@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
        /* --bg-color: #e2e8f0; */
        --bg-color: #f7f7f7;
        --text-color: #404040;
        --primary-color: #475569;
        --secondary-color: #cbd5e1;
        --task-color: #f6f6f6;
        --cancel-color: #e5e7eb;
        --confirm-color: #dc2626;
        --confirm-hover-color: #b91c1c;
        --task-size: 46px;
}

*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

body {
        background: var(--bg-color);
        color: var(--text-color);
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr;
        font-family: 'Mona Sans', sans-serif;

}